/* estilização responsividade
nota!
    resoluções:
    320px a 540px
    541px a 768px
    769px a 1100px
    1101px ou mais
    */

    @media screen and (max-width:1100px)  {
        .containner {
            max-width: 90%;
        }
    }
    /* com o hábito de colocar um limitador geral nos elementos de um site é interessante trabalhar este com responsividade. No caso à cima o limitador que era em px foi passado para % */

    @media screen and (max-width:768px) {
        button {
            width: 100%;
        }
        .banners-sale {
            flex-direction: column;
        }
        .banner-rj, .containner-other-captals {
            width: 100%;
        }
        .containner-cards {
            flex-direction: column;
        }
        .card-1, .card-2 {
            width: 100%;
            margin-bottom: 5px;
        }
        .footer {
            flex-direction: column;
            align-items: center;
        }
        .box-footer {
            margin: 15px auto;
            width: 250px;
        }
    }


    @media screen and (max-width:540px) {
        .data-ida-volta {
            flex-direction: column;
        }
        .data-ida, .data-volta {
            width: 100%;
        }
        .containner-origem-destino {
            flex-direction: column;
        }
        .box-origem-destino {
            width: 100%;
        }
        .banner-captals-1, .banner-captals-2 {
            flex-direction: column;
        }
        .banner-manaus, .banner-sao-paulo, .banner-maranhao, .banner-rio {
            width: 100%;
            height: 500px;
        }
    }